.card-disclosure {
  border: 1px solid #C2DCC2;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-size: 90%;
  padding: 0.2em 0.5em;
  text-align: left;
  vertical-align: middle;
}
.card-disclosure-content {
  border: 1px solid #C2DCC2;
  margin: 0.7em 0;
  padding: 0.1em 0.5em 0.5em;
}
.card-disclosure-content > :not(legend) {
  -webkit-animation: card-disclosure-content-fadein 0.2s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: card-disclosure-content-fadein 0.2s; /* Firefox < 16 */
      -ms-animation: card-disclosure-content-fadein 0.2s; /* Internet Explorer */
       -o-animation: card-disclosure-content-fadein 0.2s; /* Opera < 12.1 */
          animation: card-disclosure-content-fadein 0.2s;
}
.card-disclosure-content .card-disclosure-content {
  border: none;
}
.card-disclosure-collapsed {
  display: inline-block;
}

@keyframes card-disclosure-content-fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes card-disclosure-content-fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes card-disclosure-content-fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes card-disclosure-content-fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes card-disclosure-content-fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
